<div class="dashboard container">
    <h1>Dashboard</h1>
    <% if current_user then %>
    <%= button_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>

    <% end %>

</div>